<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="auth.leftMenuPress.next(true)">
            <mat-icon>menu</mat-icon>
        </button>
        <span  fxHide fxShow.gt-xs>Family App for New Generation-main</span>
        <span  fxShow fxHide.gt-xs>Family App for New Gen!</span>
        <span fxFlex> </span>
        <div *ngIf="auth.user$ | async as user; else login" >
            <mat-spinner [fxShow] ="showspinner === true"  color="accent" strokeWidth="50" diameter="15"></mat-spinner>
            <button mat-raised-button fxHide fxShow.gt-xs color="accent" (click)="signOut()"><i
                    class="material-icons" (click)="signOut()"> exit_to_app</i><span> Welcome
                    {{user.displayName}}</span></button>
            <button mat-raised-button fxShow fxHide.gt-xs (click)="signOut()"><i class="material-icons"
                    (click)="signOut()"> exit_to_app</i></button>
        </div>
        <ng-template #login>
            <mat-spinner [fxShow] ="showspinner === null"  color="accent" strokeWidth="50" diameter="15"></mat-spinner>
            <button  mat-raised-button fxHide [fxShow.gt-xs] ="showspinner !== null" color="accent" (click)="googleSignin()"><i
                    class="material-icons" (click)="googleSignin()">
                    power_settings_new</i><span>SignUp</span></button>
            <button mat-raised-button [fxShow] ="showspinner !== null" fxHide.gt-xs (click)="googleSignin()"><i class="material-icons"
                    (click)="googleSignin()"> power_settings_new</i></button>
            
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet> 

