/* You can add global styles to this file, and also import other style files */
html {
    background: rgba(226,226,226,1) no-repeat center center fixed !important;
    background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(254,254,254,1) 100%) no-repeat center center fixed !important;
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(51%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1))) no-repeat center center fixed !important;
    background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(254,254,254,1) 100%) no-repeat center center fixed !important;
    background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(254,254,254,1) 100%) no-repeat center center fixed !important;
    background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(254,254,254,1) 100%) no-repeat center center fixed !important;
    background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(219,219,219,1) 51%, rgba(254,254,254,1) 100%) no-repeat center center fixed !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.intl-tel-input { width: 85%; }